<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.by.lizhiyoupin.app.component_ui">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application android:allowBackup="false"
                 android:supportsRtl="true">
        <activity android:name=".MainIOActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>


        <activity android:name=".activity.CommonWebActivity"
                  android:launchMode="standard"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.OtherAppWebView"
                  android:launchMode="standard"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.AutoWebActivity"
                  android:launchMode="standard"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".activity.InterceptOtherWebActivity"
                  android:launchMode="standard"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <!--下载和推送的 Provider-->
        <provider
            android:name=".weight.download.IMyProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities,name,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>